$scheme:'light' !default;

$black:#424242;
$white:#ffffff;
$blue: #0082d6;

$yellow: #f4ce3c;

$lgray: #f4f4f4;

$dblue: #004a87;
$navy: #015890;

$gray: #323233;

$lightnavy: lighten($navy, 8%);

$type: #392f2b;



$lightblue: lighten($blue, 2%);

$lightyellow: lighten($yellow, 4%);